*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #ccc;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-heading{
    text-align: center;
    color:darkcyan;
}
form{
    width: 70%;
    max-width: 500px;
}
.input-container{
    width: 100%;
    /* background-color: aqua; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}
#inputBox{
    width: 70%;
    height: 30px;
    border: none;
    border-radius: 10px;
    outline: 0;
    padding-left: 10px;
    font-size: large;
    box-shadow: 0px 0px 10px 1px black;
    /* background-color: blanchedalmond; */
}
#add{
    margin-left: 10px;
    font-size: large;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: 0;
    background-color: aquamarine;
    color: white;
    /* box-shadow: 2px 2px 10px 1px black;  */
}
#add:hover{
    cursor: pointer;
}
.list{
    background-color: blue;
}
.item{
    /* background-color: ; */
    display: flex;
    font-size: x-large;
    padding: 20px;
    margin: 10px;
    border-radius: 5px 10px;
}
.item p{
    flex-basis: 80%;
}
.icon-container{
    flex-basis: 20%;
}
.icon-container button{
    background-color: transparent;
    /* visibility: hidden; */
    border: none;
    font-size: large;
}
.fas{
    cursor: pointer;
    color: rgb(65, 54, 54);
    font-size: x-large;
    transform: all 0.5 ease-in-out;
}
.fas:hover{
    transform: scale(1.2);
}
.hidden{
    visibility: hidden;
}
.deleted-text{
    text-decoration: line-through;
    color: red;
}
.deleted-text span{
    color: black;
}
.fade{
    background-color: #ddd;
}